/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bebas Neue", sans-serif;
  @apply text-marron;
}

p {
  @apply mb-4 text-xl;
}

#carouselParagraphe {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#footerParagraphe {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.animate {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.shadowTitle {
  text-shadow: 3px 3px #fee7ba;
}
